ion-content ion-toolbar {
  --background: var(--ion-background-color);
}

.corona-cover {
  background: linear-gradient(45deg, var(--ion-color-secondary-shade), var(--ion-color-primary-tint));
}

.instant-rfq {
  background: linear-gradient(45deg, var(--ion-color-primary-tint), var(--ion-color-secondary-shade));
}

.headerColor {
  --background: #38b2ac;
}

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .pxy {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .pxy {
    padding-right: 10rem;
    padding-left: 10rem;
  }

}
